{% extends "bases/base.html" %}

{% block page_title %}
    Index Page
{% endblock %}
{% block content %}
<h2>{{ content }}</h2>

<h3>Flask-Security</h3>
<ul>
	<li><a href="{{ url_for('Index:protected') }}">Protected View (Login only) (/protected)</a></li>
	<li><a href="{{ url_for_security('login') }}">Login via Flask-Security(/login) (user: admin@localhost, pw: admin)</a></li>
	<li><a href="{{ url_for_security('logout') }}">Logout via Flask-Security(/logout)</a></li>
</ul>

<hr />
<h3>Flask-Classy</h3>
<ul>
	<li><a href="{{ url_for('ClassyViewExample:index') }}">Classy View Example (/classy-view/)</a></li>
	<li><a href="{{ url_for('ClassyViewExample:custom_route') }}">Classy Custom Route (/classy-view/custom-route)</a></li>
	<li><a href="{{ url_for('ClassyViewExample:get', url_data='Hello I am some data') }}">Classy Get Route With Data(/classy-view/hello I Am Data.)</a></li>
</ul>

<hr />
<h3>WTForms</h3>
<ul>
    <li><a href="{{ url_for('SampleForm:index') }}">Sample WTForm</a></li>
    <li><a href="{{ url_for('SampleForm:model_form') }}">Sample WTForm using model_form</a></li>
</ul>

<hr />
<h3>Flask-Uploads/WTForms</h3>
<ul>
    <li><a href="{{ url_for('UploadsView:index') }}">WTForms with FileUpload &amp; Validations</a></li>
</ul>


{% endblock %}