<!DOCTYPE html>
<html>
<head>
  <title>Crappy Snap</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ config.APP_DESCRIPTION }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>
  <script src="{{ url_for('static', filename='js/preview-init.js' ) }}"></script>

  <style type="text/css">
    #editor {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="flash"></div>
  <div id="finmsg">Thank you for the message!</div>
  <div id="header"></div>
  <div id="countwrap">
    <div id="countdown" class="regular">3</div>
  </div>
  <video id="preview" autoplay></video>
  <div id="editor"></div>
  <div id="controls">
    <ul id="ctul">
      <li id="snap">Snap (Or Press Any Key) <i class="fa fa-camera-retro"></i></li>
    </ul>
  </div>
</body>
</html>
